<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SampleServlet</servlet-name>
  	<display-name>SampleServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.SampleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminCreateEmployee</servlet-name>
  	<display-name>AdminCreateEmployee</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Admin.AdminCreateEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminCreateSupplier</servlet-name>
  	<display-name>AdminCreateSupplier</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Admin.AdminCreateSupplier</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminCreateItem</servlet-name>
  	<display-name>AdminCreateItem</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Admin.AdminCreateItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminCreateSite</servlet-name>
  	<display-name>AdminCreateSite</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Admin.AdminCreateSite</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Common.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Common.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SiteManagerDeductInventory</servlet-name>
  	<display-name>SiteManagerDeductInventory</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.SiteManager.SiteManagerDeductInventory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SiteManagerRequestOrder</servlet-name>
  	<display-name>SiteManagerRequestOrder</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.SiteManager.SiteManagerRequestOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SiteManagerEditRequest</servlet-name>
  	<display-name>SiteManagerEditRequest</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.SiteManager.SiteManagerEditRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SiteManagerEditRequestSubmit</servlet-name>
  	<display-name>SiteManagerEditRequestSubmit</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.SiteManager.SiteManagerEditRequestSubmit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SiteManagerDeleteRequest</servlet-name>
  	<display-name>SiteManagerDeleteRequest</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.SiteManager.SiteManagerDeleteRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Common.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDeleteEmployee</servlet-name>
  	<display-name>AdminDeleteEmployee</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Admin.AdminDeleteEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcurementEmployeeRequest</servlet-name>
  	<display-name>ProcurementEmployeeRequest</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.ProcurementEmployee.ProcurementEmployeeRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcurementEmployeeFetchSupplier</servlet-name>
  	<display-name>ProcurementEmployeeFetchSupplier</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.ProcurementEmployee.ProcurementEmployeeFetchSupplier</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcurementEmployeeMakeOrder</servlet-name>
  	<display-name>ProcurementEmployeeMakeOrder</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.ProcurementEmployee.ProcurementEmployeeMakeOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SiteManagerAcceptDelivery</servlet-name>
  	<display-name>SiteManagerAcceptDelivery</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.SiteManager.SiteManagerAcceptDelivery</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcurementEmployeeMakePayment</servlet-name>
  	<display-name>ProcurementEmployeeMakePayment</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.ProcurementEmployee.ProcurementEmployeeMakePayment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageApproveOrder</servlet-name>
  	<display-name>ManageApproveOrder</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Manager.ManageApproveOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcurementEmployeeMakeApprovedOrder</servlet-name>
  	<display-name>ProcurementEmployeeMakeApprovedOrder</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.ProcurementEmployee.ProcurementEmployeeMakeApprovedOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerAddPolicy</servlet-name>
  	<display-name>ManagerAddPolicy</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Manager.ManagerAddPolicy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerEditPolicy</servlet-name>
  	<display-name>ManagerEditPolicy</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Manager.ManagerEditPolicy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerDeletePolicy</servlet-name>
  	<display-name>ManagerDeletePolicy</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.Manager.ManagerDeletePolicy</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SampleServlet</servlet-name>
  	<url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminCreateEmployee</servlet-name>
  	<url-pattern>/AdminCreateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminCreateSupplier</servlet-name>
  	<url-pattern>/AdminCreateSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminCreateItem</servlet-name>
  	<url-pattern>/AdminCreateItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminCreateSite</servlet-name>
  	<url-pattern>/AdminCreateSite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SiteManagerDeductInventory</servlet-name>
  	<url-pattern>/SiteManagerDeductInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SiteManagerRequestOrder</servlet-name>
  	<url-pattern>/SiteManagerRequestOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SiteManagerEditRequest</servlet-name>
  	<url-pattern>/SiteManagerEditRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SiteManagerEditRequestSubmit</servlet-name>
  	<url-pattern>/SiteManagerEditRequestSubmit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SiteManagerDeleteRequest</servlet-name>
  	<url-pattern>/SiteManagerDeleteRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDeleteEmployee</servlet-name>
  	<url-pattern>/AdminDeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcurementEmployeeRequest</servlet-name>
  	<url-pattern>/ProcurementEmployeeRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcurementEmployeeFetchSupplier</servlet-name>
  	<url-pattern>/ProcurementEmployeeFetchSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcurementEmployeeMakeOrder</servlet-name>
  	<url-pattern>/ProcurementEmployeeMakeOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SiteManagerAcceptDelivery</servlet-name>
  	<url-pattern>/SiteManagerAcceptDelivery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcurementEmployeeMakePayment</servlet-name>
  	<url-pattern>/ProcurementEmployeeMakePayment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageApproveOrder</servlet-name>
  	<url-pattern>/ManageApproveOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcurementEmployeeMakeApprovedOrder</servlet-name>
  	<url-pattern>/ProcurementEmployeeMakeApprovedOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerAddPolicy</servlet-name>
  	<url-pattern>/ManagerAddPolicy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerEditPolicy</servlet-name>
  	<url-pattern>/ManagerEditPolicy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerDeletePolicy</servlet-name>
  	<url-pattern>/ManagerDeletePolicy</url-pattern>
  </servlet-mapping>
</web-app>
